.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 15px;
}

.one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.text-container .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.text-container .sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 100px;
}

.image-container {
    display: flex;
    width: 400px;
    height: 300px;
    padding: 50px;
}

.one button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.two .image-container-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
    font-size: 18px;
}

.two img {
    width: 300px;
    height: 300px;
}

.two .main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.three .quote {
    align-items: center;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.three .name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-weight: bold;
    padding-right: 500px;
}

.four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    margin: 150px;
}

.four .text-container {
    flex-direction: column;
    width: 750px;
    flex-wrap: nowrap;
}

.four .main-text {
    color: #f9faf8;
    font-weight: bold;
}

.four .sub-text {
    color: #f9faf8;
}

.four button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}